h1{
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    font-family: Georgia;
}
.ligneflex {
  display:flex;
  justify-content: space-between;
  align-items: stretch;
}
 
div {
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
}
